aid: airbyte
url: https://raw.githubusercontent.com/api-evangelist/airbyte/refs/heads/main/apis.yml
apis:
- aid: airbyte:airbyte-applications-api
  name: Airbyte Applications API
  description: The Applications API from Airbyte — 3 operation(s) for applications.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - Applications
  properties:
  - type: OpenAPI
    url: openapi/airbyte-applications-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-connections-api
  name: Airbyte Connections API
  description: The Connections API from Airbyte — 2 operation(s) for connections.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - Connections
  properties:
  - type: OpenAPI
    url: openapi/airbyte-connections-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-connectordefinitions-api
  name: Airbyte ConnectorDefinitions API
  description: The ConnectorDefinitions API from Airbyte — 1 operation(s) for connectordefinitions.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - ConnectorDefinitions
  properties:
  - type: OpenAPI
    url: openapi/airbyte-connectordefinitions-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-dataplanes-api
  name: Airbyte Dataplanes API
  description: The Dataplanes API from Airbyte — 2 operation(s) for dataplanes.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - Dataplanes
  properties:
  - type: OpenAPI
    url: openapi/airbyte-dataplanes-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-declarativesourcedefinitions-api
  name: Airbyte DeclarativeSourceDefinitions API
  description: >-
    The DeclarativeSourceDefinitions API from Airbyte — 2 operation(s) for declarativesourcedefinitions.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - DeclarativeSourceDefinitions
  properties:
  - type: OpenAPI
    url: openapi/airbyte-declarativesourcedefinitions-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-destinationdefinitions-api
  name: Airbyte DestinationDefinitions API
  description: The DestinationDefinitions API from Airbyte — 2 operation(s) for destinationdefinitions.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - DestinationDefinitions
  properties:
  - type: OpenAPI
    url: openapi/airbyte-destinationdefinitions-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-destinations-api
  name: Airbyte Destinations API
  description: The Destinations API from Airbyte — 2 operation(s) for destinations.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - Destinations
  properties:
  - type: OpenAPI
    url: openapi/airbyte-destinations-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-embedded-widget-api
  name: Airbyte embedded_widget API
  description: The embedded_widget API from Airbyte — 3 operation(s) for embedded_widget.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - embedded_widget
  properties:
  - type: OpenAPI
    url: openapi/airbyte-embedded-widget-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-groups-api
  name: Airbyte Groups API
  description: The Groups API from Airbyte — 6 operation(s) for groups.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - Groups
  properties:
  - type: OpenAPI
    url: openapi/airbyte-groups-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-jobs-api
  name: Airbyte Jobs API
  description: The Jobs API from Airbyte — 2 operation(s) for jobs.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - Jobs
  properties:
  - type: OpenAPI
    url: openapi/airbyte-jobs-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-oauth-api
  name: Airbyte OAuth API
  description: The OAuth API from Airbyte — 1 operation(s) for oauth.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - OAuth
  properties:
  - type: OpenAPI
    url: openapi/airbyte-oauth-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-organizations-api
  name: Airbyte Organizations API
  description: The Organizations API from Airbyte — 3 operation(s) for organizations.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - Organizations
  properties:
  - type: OpenAPI
    url: openapi/airbyte-organizations-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-permissions-api
  name: Airbyte Permissions API
  description: The Permissions API from Airbyte — 2 operation(s) for permissions.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - Permissions
  properties:
  - type: OpenAPI
    url: openapi/airbyte-permissions-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-public-api
  name: Airbyte public API
  description: The public API from Airbyte — 47 operation(s) for public.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - public
  properties:
  - type: OpenAPI
    url: openapi/airbyte-public-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-public-applications-api
  name: Airbyte public_applications API
  description: The public_applications API from Airbyte — 3 operation(s) for public_applications.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - public_applications
  properties:
  - type: OpenAPI
    url: openapi/airbyte-public-applications-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-public-connections-api
  name: Airbyte public_connections API
  description: The public_connections API from Airbyte — 2 operation(s) for public_connections.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - public_connections
  properties:
  - type: OpenAPI
    url: openapi/airbyte-public-connections-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-public-connector-definitions-api
  name: Airbyte public_connector_definitions API
  description: >-
    The public_connector_definitions API from Airbyte — 1 operation(s) for public_connector_definitions.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - public_connector_definitions
  properties:
  - type: OpenAPI
    url: openapi/airbyte-public-connector-definitions-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-public-dataplanes-api
  name: Airbyte public_dataplanes API
  description: The public_dataplanes API from Airbyte — 2 operation(s) for public_dataplanes.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - public_dataplanes
  properties:
  - type: OpenAPI
    url: openapi/airbyte-public-dataplanes-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-public-declarative-source-definitions-api
  name: Airbyte public_declarative_source_definitions API
  description: >-
    The public_declarative_source_definitions API from Airbyte — 2 operation(s) for public_declarative_source_definitions.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - public_declarative_source_definitions
  properties:
  - type: OpenAPI
    url: openapi/airbyte-public-declarative-source-definitions-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-public-destination-definitions-api
  name: Airbyte public_destination_definitions API
  description: >-
    The public_destination_definitions API from Airbyte — 2 operation(s) for public_destination_definitions.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - public_destination_definitions
  properties:
  - type: OpenAPI
    url: openapi/airbyte-public-destination-definitions-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-public-destinations-api
  name: Airbyte public_destinations API
  description: The public_destinations API from Airbyte — 2 operation(s) for public_destinations.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - public_destinations
  properties:
  - type: OpenAPI
    url: openapi/airbyte-public-destinations-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-public-group-members-api
  name: Airbyte public_group_members API
  description: The public_group_members API from Airbyte — 2 operation(s) for public_group_members.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - public_group_members
  properties:
  - type: OpenAPI
    url: openapi/airbyte-public-group-members-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-public-group-permissions-api
  name: Airbyte public_group_permissions API
  description: >-
    The public_group_permissions API from Airbyte — 2 operation(s) for public_group_permissions.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - public_group_permissions
  properties:
  - type: OpenAPI
    url: openapi/airbyte-public-group-permissions-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-public-groups-api
  name: Airbyte public_groups API
  description: The public_groups API from Airbyte — 2 operation(s) for public_groups.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - public_groups
  properties:
  - type: OpenAPI
    url: openapi/airbyte-public-groups-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-public-health-api
  name: Airbyte public_health API
  description: The public_health API from Airbyte — 1 operation(s) for public_health.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - public_health
  properties:
  - type: OpenAPI
    url: openapi/airbyte-public-health-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-public-jobs-api
  name: Airbyte public_jobs API
  description: The public_jobs API from Airbyte — 2 operation(s) for public_jobs.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - public_jobs
  properties:
  - type: OpenAPI
    url: openapi/airbyte-public-jobs-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-public-oauth-api
  name: Airbyte public_oauth API
  description: The public_oauth API from Airbyte — 1 operation(s) for public_oauth.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - public_oauth
  properties:
  - type: OpenAPI
    url: openapi/airbyte-public-oauth-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-public-organizations-api
  name: Airbyte public_organizations API
  description: The public_organizations API from Airbyte — 3 operation(s) for public_organizations.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - public_organizations
  properties:
  - type: OpenAPI
    url: openapi/airbyte-public-organizations-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-public-permissions-api
  name: Airbyte public_permissions API
  description: The public_permissions API from Airbyte — 2 operation(s) for public_permissions.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - public_permissions
  properties:
  - type: OpenAPI
    url: openapi/airbyte-public-permissions-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-public-regions-api
  name: Airbyte public_regions API
  description: The public_regions API from Airbyte — 2 operation(s) for public_regions.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - public_regions
  properties:
  - type: OpenAPI
    url: openapi/airbyte-public-regions-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-public-root-api
  name: Airbyte public_root API
  description: The public_root API from Airbyte — 1 operation(s) for public_root.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - public_root
  properties:
  - type: OpenAPI
    url: openapi/airbyte-public-root-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-public-source-definitions-api
  name: Airbyte public_source_definitions API
  description: >-
    The public_source_definitions API from Airbyte — 2 operation(s) for public_source_definitions.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - public_source_definitions
  properties:
  - type: OpenAPI
    url: openapi/airbyte-public-source-definitions-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-public-sources-api
  name: Airbyte public_sources API
  description: The public_sources API from Airbyte — 3 operation(s) for public_sources.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - public_sources
  properties:
  - type: OpenAPI
    url: openapi/airbyte-public-sources-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-public-streams-api
  name: Airbyte public_streams API
  description: The public_streams API from Airbyte — 1 operation(s) for public_streams.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - public_streams
  properties:
  - type: OpenAPI
    url: openapi/airbyte-public-streams-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-public-tags-api
  name: Airbyte public_tags API
  description: The public_tags API from Airbyte — 2 operation(s) for public_tags.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - public_tags
  properties:
  - type: OpenAPI
    url: openapi/airbyte-public-tags-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-public-users-api
  name: Airbyte public_users API
  description: The public_users API from Airbyte — 1 operation(s) for public_users.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - public_users
  properties:
  - type: OpenAPI
    url: openapi/airbyte-public-users-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-public-workspaces-api
  name: Airbyte public_workspaces API
  description: The public_workspaces API from Airbyte — 3 operation(s) for public_workspaces.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - public_workspaces
  properties:
  - type: OpenAPI
    url: openapi/airbyte-public-workspaces-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-regions-api
  name: Airbyte Regions API
  description: The Regions API from Airbyte — 2 operation(s) for regions.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - Regions
  properties:
  - type: OpenAPI
    url: openapi/airbyte-regions-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-sourcedefinitions-api
  name: Airbyte SourceDefinitions API
  description: The SourceDefinitions API from Airbyte — 2 operation(s) for sourcedefinitions.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - SourceDefinitions
  properties:
  - type: OpenAPI
    url: openapi/airbyte-sourcedefinitions-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-sources-api
  name: Airbyte Sources API
  description: The Sources API from Airbyte — 3 operation(s) for sources.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - Sources
  properties:
  - type: OpenAPI
    url: openapi/airbyte-sources-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-streams-api
  name: Airbyte Streams API
  description: The Streams API from Airbyte — 1 operation(s) for streams.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - Streams
  properties:
  - type: OpenAPI
    url: openapi/airbyte-streams-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-tags-api
  name: Airbyte Tags API
  description: The Tags API from Airbyte — 2 operation(s) for tags.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - Tags
  properties:
  - type: OpenAPI
    url: openapi/airbyte-tags-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-users-api
  name: Airbyte Users API
  description: The Users API from Airbyte — 1 operation(s) for users.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - Users
  properties:
  - type: OpenAPI
    url: openapi/airbyte-users-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
- aid: airbyte:airbyte-workspaces-api
  name: Airbyte Workspaces API
  description: The Workspaces API from Airbyte — 3 operation(s) for workspaces.
  humanURL: https://airbyte.com
  baseURL: https://api.airbyte.com/v1
  tags:
  - Workspaces
  properties:
  - type: OpenAPI
    url: openapi/airbyte-workspaces-api-openapi.yml
  - type: Documentation
    url: https://docs.airbyte.com
  - type: APIReference
    url: https://reference.airbyte.com/reference/getting-started
  - type: Authentication
    url: https://docs.airbyte.com/api-documentation
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-python-sdk
  - type: SDKs
    url: https://github.com/airbytehq/airbyte-api-java-sdk
  - type: SDKs
    url: https://pypi.org/project/airbyte-api/
  - type: SDKs
    url: https://github.com/airbytehq/terraform-provider-airbyte
  - type: GraphQL
    url: graphql/airbyte-graphql.md
name: Airbyte
tags:
- Data Integration
- ETL
- ELT
- Open Source
- Data Pipeline
- Connectors
- Data
type: Index
accessModel:
  pricing: paid
  onboarding: self-serve
  trial: false
  try_now: false
  public: false
  label: Paid · Self-serve signup
  confidence: high
  source:
  - plans
  - authentication
  generated: '2026-07-22'
  method: derived
image: https://kinlane-images.s3.amazonaws.com/shared/apis-json/icons/airbyte.png
access: 3rd-Party
common:
- type: PostmanWorkspace
  url: https://www.postman.com/kinlaneapi/airbyte/overview
- type: AgenticAccess
  url: agentic-access/airbyte-agentic-access.yml
- type: DomainSecurity
  url: security/airbyte-domain-security.yml
- type: Packages
  url: packages/airbyte-packages.yml
- type: WellKnown
  url: well-known/airbyte-well-known.yml
- type: MCPServer
  url: mcp/airbyte-mcp.yml
- type: LLMsTxt
  url: llms/airbyte-llms.txt
- type: Overlay
  url: overlays/airbyte-openapi-overlay.yaml
- type: Conformance
  url: conformance/airbyte-conformance.yml
- type: ErrorCatalog
  url: errors/airbyte-problem-types.yml
- type: Lifecycle
  url: lifecycle/airbyte-lifecycle.yml
- type: OAuthScopes
  url: scopes/airbyte-scopes.yml
- type: Authentication
  url: authentication/airbyte-authentication.yml
- type: TrustCenter
  url: security/airbyte-trust-center.yml
- type: VulnerabilityDisclosure
  url: security/airbyte-vulnerability-disclosure.yml
- type: Conventions
  url: conventions/airbyte-conventions.yml
- type: ChangeLog
  url: changelog/airbyte-changelog.yml
- type: CLI
  url: cli/airbyte-cli.yml
- type: Components
  url: components/airbyte-components.yml
- type: DataModel
  url: data-model/airbyte-data-model.yml
- type: Arazzo
  url: arazzo/airbyte-application-token-bootstrap-workflow.yml
  name: Airbyte Bootstrap an Application and Access Token
- type: Arazzo
  url: arazzo/airbyte-cancel-running-job-workflow.yml
  name: Airbyte Find and Cancel a Running Job
- type: Arazzo
  url: arazzo/airbyte-destination-create-verify-workflow.yml
  name: Airbyte Create and Verify a Destination
- type: Arazzo
  url: arazzo/airbyte-find-connection-and-sync-workflow.yml
  name: Airbyte Find a Connection and Trigger Its Sync
- type: Arazzo
  url: arazzo/airbyte-provision-pipeline-workflow.yml
  name: Airbyte Provision a Full Data Pipeline
- type: Arazzo
  url: arazzo/airbyte-reset-and-resync-workflow.yml
  name: Airbyte Reset a Connection and Re-Sync
- type: Arazzo
  url: arazzo/airbyte-source-create-verify-workflow.yml
  name: Airbyte Create and Verify a Source
- type: Arazzo
  url: arazzo/airbyte-tag-connection-workflow.yml
  name: Airbyte Create a Tag and Apply It to a Connection
- type: Arazzo
  url: arazzo/airbyte-trigger-sync-and-poll-workflow.yml
  name: Airbyte Trigger a Sync and Poll to Completion
- type: Arazzo
  url: arazzo/airbyte-workspace-bootstrap-workflow.yml
  name: Airbyte Bootstrap a Workspace
- type: LinkedIn
  url: https://www.linkedin.com/company/airbytehq
- url: https://airbyte.com
  type: Portal
- url: https://cloud.airbyte.io
  type: Console
- url: https://cloud.airbyte.io
  type: Signup
- url: https://airbyte.com/pricing
  type: Pricing
- url: https://github.com/airbytehq
  type: GitHubOrganization
- url: https://github.com/airbytehq/airbyte
  type: GitHubRepository
- url: https://docs.airbyte.com
  type: GettingStarted
- url: https://status.airbyte.com
  type: StatusPage
- url: https://airbyte.com/blog
  type: Blog
- url: https://airbyte.com/tutorials
  type: Tutorials
- url: https://support.airbyte.com/hc/en-us
  type: Support
- url: https://airbyte.com/company/privacy-policy
  type: PrivacyPolicy
- url: https://airbyte.com/company/terms
  type: TermsOfService
- url: https://airbyte.com/community/newsletter
  type: Newsletter
- url: https://docs.airbyte.com/category/release-notes/
  type: ChangeLog
- url: https://github.com/orgs/airbytehq/projects/37/views/1
  type: RoadMap
- url: https://airbyte.com/connectors
  type: Integrations
- url: https://github.com/airbytehq/PyAirbyte
  type: SDKs
  title: PyAirbyte
- url: https://github.com/airbytehq/abctl
  type: CLI
  title: Airbyte CLI (abctl)
- url: https://github.com/airbytehq/airbyte-python-cdk
  type: SDKs
  title: Python Connector CDK
- url: https://github.com/airbytehq/airbyte-agent-sdk
  type: SDKs
  title: Agent SDK
- url: https://artifacthub.io/packages/helm/airbyte/airbyte
  type: SDKs
  title: Helm Chart
- type: Features
  data:
  - 'Core: free open-source self-managed'
  - 'Standard from $10/mo: fully managed, volume-based'
  - 'Plus: bulk-credit discounts, accelerated support'
  - 'Pro: Data Workers capacity pricing, SSO, RBAC'
  - 'Enterprise Flex: custom limits, dedicated SA'
  - 600+ pre-built connectors
  - Public API at 60 req/min/workspace
  - OAuth 2.0 + workspace API keys
  - Webhooks for sync events
  - Connector Builder for custom sources
  - dbt Cloud integration for transformations
  - Multiple workspaces (Pro+)
  - SSO and RBAC (Pro+)
  - Self-hosted Enterprise option
  - Bring your own custom connector
  - Data Activation (Reverse ETL) capabilities
  sources:
  - https://airbyte.com/pricing
  updated: '2026-05-04'
- type: UseCases
  data:
  - name: Data Warehouse Loading
    description: Sync operational data to Snowflake, BigQuery, Redshift, or other
      warehouses.
  - name: Data Lake Ingestion
    description: Land raw data into S3, GCS, or Azure data lakes.
  - name: Analytics Pipelines
    description: Build ELT pipelines for business intelligence and analytics.
  - name: AI/ML Data Preparation
    description: Aggregate training data from multiple sources for machine learning.
  - name: API Data Sync
    description: Pull data from SaaS APIs (Salesforce, HubSpot, Stripe) into your
      data stack.
  - name: Database Replication
    description: Replicate relational databases with CDC change data capture.
  - name: Vector Database Population
    description: Load and embed data into vector stores for AI search and retrieval.
- type: Integrations
  data:
  - name: Apache Airflow
    description: Orchestrate Airbyte syncs from Airflow DAGs.
  - name: dbt
    description: Transform data after Airbyte syncs with dbt models.
  - name: Snowflake
    description: Load data into Snowflake data warehouse.
  - name: BigQuery
    description: Sync data to Google BigQuery.
  - name: Redshift
    description: Load data into Amazon Redshift.
  - name: Databricks
    description: Ingest data into Databricks lakehouse.
  - name: Terraform
    description: Infrastructure-as-code support for Airbyte resources.
  - name: Kubernetes / Helm
    description: Deploy Airbyte on Kubernetes using official Helm charts.
- url: https://raw.githubusercontent.com/api-evangelist/airbyte/refs/heads/main/rules/airbyte-spectral-rules.yml
  type: SpectralRules
  title: Airbyte Spectral Rules
- url: https://raw.githubusercontent.com/api-evangelist/airbyte/refs/heads/main/vocabulary/airbyte-vocabulary.yaml
  type: Vocabulary
  title: Airbyte Vocabulary
- name: Agent Skills
  url: https://github.com/airbytehq/airbyte-claude-skills
  type: AgentSkills
- type: LlmsText
  url: https://docs.airbyte.com/llms.txt
created: '2025-01-08'
modified: '2026-06-20'
position: Consumer
description: Airbyte is an open-source data integration platform that enables businesses
  to easily and efficiently move and consolidate their data from various sources into
  one centralized location. With Airbyte, organizations can seamlessly connect and
  synchronize data from sources such as databases, APIs, and other third-party applications,
  allowing for real-time insights and analysis. Airbyte offers both self-hosted and
  cloud-hosted options, with a catalog of hundreds of pre-built connectors.
maintainers:
- FN: Kin Lane
  email: kin@apievangelist.com
specificationVersion: '0.23'
