openapi: 3.1.0
info:
  title: airbyte-api Applications Users API
  version: 1.0.0
  description: Programmatically control Airbyte Cloud, OSS & Enterprise.
servers:
- url: https://api.airbyte.com/v1
  description: Airbyte API v1
tags:
- name: Users
paths:
  /users:
    get:
      tags:
      - Users
      summary: Airbyte List All Users Within an Organization
      description: Organization Admin user can list all users within the same organization. Also provide filtering on a list of user IDs or/and a list of user emails.
      parameters:
      - in: query
        name: organizationId
        schema:
          type: string
          format: UUID
        required: true
      - in: query
        name: ids
        schema:
          type: array
          items:
            type: string
            format: UUID
        description: List of user IDs to filter by
      - in: query
        name: emails
        schema:
          type: array
          items:
            type: string
            format: email
        description: List of user emails to filter by
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
              examples:
                listUsersWithinAnOrganization200Example:
                  summary: Default listUsersWithinAnOrganization 200 response
                  x-microcks-default: true
                  value:
                    data: example
          description: List Users.
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: listUsersWithinAnOrganization
      x-speakeasy-alias: listUsersWithinAnOrganization
      x-speakeasy-group: Users
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    UsersResponse:
      title: Root Type for UsersResponse
      description: List/Array of multiple users in an organization
      required:
      - data
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserResponse'
      x-speakeasy-component: true
      x-speakeasy-entity: User
      x-speakeasy-param-suppress-computed-diff: true
    UserResponse:
      title: Root Type for UserResponse
      description: Provides details of a single user in an organization.
      type: object
      required:
      - id
      - name
      - email
      properties:
        name:
          description: Name of the user
          type: string
        id:
          $ref: '#/components/schemas/UserId'
        email:
          type: string
          format: email
      x-speakeasy-entity: User
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    UserId:
      type: string
      description: Internal Airbyte user ID
      format: uuid
      x-speakeasy-component: true
